<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8" Content-Type="text/html">
<title>Insert title here</title>
</head>
<body>
	login
	<form name="login" action="/login" method="post">
		<input type="text" name="username" id="username"> 
		<input type="password" name="password" id="password">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		 <input type="submit" value="Send">
	</form>
</body>
</html>